@font-face {
  font-family: Futura book;
  src: url("./assets/font/futur2.ttf");
}

@font-face {
  font-family: Futura maxi cg;
  src: url("./assets/font/Futura Maxi CG Bold Regular.otf");
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Exo", sans-serif;
  font-family: "Questrial", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
html {
  height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: #022024;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
}
:root {
  --body: #eaf2ff;
  --secondary: #242734;
  --lighter: #424657;
  --text: #bdbdc8;
  --desc: #8282a1;
  --tag: #292932;
  --accent: #6b41cb;
  --hover: #907ffa;
  --boxShadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
  --boxHover: 0 0 18px 0 #6b41cb;
  --boxWhite: 0 0 24px 0 rgba(75, 75, 88, 54%);
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.active {
  background-color: #056370;
  color: #fff;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  display: none !important;
}

.imgActive {
  display: block !important;
  animation-name: mint-panel-animation;
  animation-duration: 1s;
}

@keyframes mint-panel-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.true {
  height: auto !important;
  transition: all 0.3s ease-in-out !important;
  animation-name: mint-panel-animation;
  animation-duration: 0.5s;
}
.faq-5-icon.true {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg) !important;
  transform-style: preserve-3d !important;
}

.ScrollUpButton__Container {
  background-color: transparent !important;
  border: 0px !important;
  z-index: 1000 !important;
  right: -1% !important;
  bottom: 1% !important;
}

.ScrollUpButton__Container.ScrollUpButton__Toggled {
  right: 1% !important;
  bottom: 1% !important;
}

.ScrollUpButton__Container svg {
  fill: #ff0050 !important;
  transition: 0.5s all;
  transform: scale(0.7, 0.8);
}

.ScrollUpButton__Container:hover svg {
  transform: scale(0.9, 1.1) translate(0, -15px);
}
.__web-inspector-hide-shortcut__ {
  visibility: hidden !important;
}
.flip-countdown.theme-dark.size-small {
  text-align: left !important;
  margin-top: 30px;
}
.flip-countdown-piece {
  text-align: center;
  margin: 0 0.5rem !important;
}
.flip-countdown.size-medium
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec {
  margin: 0px 0.1em !important;
}
.flip-countdown {
  margin-bottom: 50px !important;
}
a {
  text-decoration: none !important;
}
.swal2-html-container {
  text-align: center;
}
.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 99999 !important;
}
@media screen and (max-width: 360px) {
  .swal2-html-container {
    font-size: 25px;
  }
}
@media screen and (max-width: 360px) {
  .swal2-html-container {
    font-size: 20px;
  }
}
